/* .input-feedback {
  color: red;
  margin-top: 15px;
  font-size:14px;
  margin-bottom: 20px;
} 

.input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  margin-top: 15px;
  font-size:14px;
  margin-bottom: 20px;
} 

.signSubmit {
  padding: 10px 15px;
  background-color:purple;
  color: white;
  border: 1px sold rgb(70, 153, 179);
  background-color: 250ms;
}

.signSubmit:hover{
  background-color: white;
  color: rgb(70, 153, 179);
}
  */
 
 /* form{
  max-width: 500px;
    width:100%;
    margin: 0 auto
} 

.label, input{
  display:block;
  width:100%
}

.label{
  margin-bottom: 5px;
  height: 22px;
}

.input{
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid grey;
}

.input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  margin-top: 15px;
  font-size:14px;
  margin-bottom: 20px;
} */

/* signSubmit {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px sold rgb(70, 153, 179);
  background-color: 250ms;
}

button:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);

} */ 
