body{
  text-align: center;
}

ul {
  list-style-position: inside;
  list-style-type: square;
  padding-top: 1.5rem;
}

li{
  margin-top: 10px;
}

li:first-child {
  margin-top:0;
}

.socialBox {
  background: #eee;
  column-count: 3;
  column-rule: 1px solid black;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
    
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
  
  .links {
    column-count: 1;
  }

  html {
    position: relative;
    min-height: 100%;
}

.footer {
  position: relative;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 2rem; 
}

.links {
  font-size: 15px;
}

.contact {
  margin-top: 5rem;
}

.copyRight {
  margin-top: 2.5rem;
  color:darkorange;
}