.header {
    text-align: center;
}

.contact {
    border: black solid 2px;
    text-align: center;
    border-style: double;
    size: 30px;
}

.phone {
    margin-right: 30px;
    size: 300px;
}

.email {
    margin-right: 30px;
}

.website {
    margin-right: 30px;
}
.pic {
    height:400px;
    width: 400px;
    border: solid grey 2.6px;
}

.row {
    border-style: none;
}

.writeUp {
    overflow: hidden;
}

.address {
    text-align: center;
    font-size: 1.2rem;
}

.postcode {
    text-align: center;
    font-size: 1.2rem;
}
