h2 {
    text-align: center;
}

.writeUp {
    width: 900px;
    height: 150px; 
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
}


.inputBox{
   margin-bottom: 2rem;
   margin-left: 9rem;
}

.label {
    margin-bottom:2rem;
}

.button {
    margin-left: 45%;
    margin-top: 4rem;
}

.uploadText {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-left: 35%;
}

.upload {
    margin-top: 2rem;
}

.box {
    display: grid;
}

.name {
    width: 700px;
}

.contact {
    width: 600px;
}

.contactText {
   text-align: center;
   margin-right: 0;
}

.emailTwo {
    width:600px;
    margin-left: 0.6rem;
}

.address {
    width:800px;
    margin-left: 0.6rem;
}

.website {
    width:600px;
    margin-left: 0.6rem;
}

